:root {
    --text-color: #1a1c20;
    --link-color: #4f96ee;
    --background-color: #eeeff1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--background-color); */
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: white;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: white;
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin: 5px;
}

/* SECTION1 Hero section */
.hero_section {
    display: flex;
    min-height: 80vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    gap: 10px;
    margin-bottom: 130px;
    /* column-count: 2; newly added */
    /* column-gap: 10px; newly added */
}

.hero_section .text {
    flex: 5px;
    /* display: flex; newly added */
    /* flex-direction: column;newly added */
    /* border: 1px solid #1a1c20; */
}

.hero_section .text .links {
    margin-top: 25px;
}

.hero_section .text .links a {
    flex: 5;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    transition: .1s;
}

.hero_section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero_section .text h2 {
    font-size: 45;
}

.hero_section .photo {
    flex: 2%;
    display: flex;
    justify-content: right;
    /* border: 1px solid #1a1c20; */
}

.hero_section .photo img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 50%;
}

/* SECTION2: Skills */
.skills_section {
    padding: 0 100px;
    padding-top: 100px;
    margin-bottom: 130px;
    min-height: 80vh;
}

.skills_section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.skills_section .table_skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.skills_section .table_skills h2 {
    display: flex;
    font-size: 22px;
    justify-content: flex-start;
}

.skills_section .table_skills ul {
    list-style-position: inside;
    font-weight: 400;
    font-size: 17px;
    gap: 5px;
    padding: 0;
    margin: 0;
}

/* SECTION3: About Me */
.about_me_section {
    padding: 0 50px;
    margin-bottom: 100px;
    min-height: 85vh;
    padding-top: 100px;
}

.about_me_section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.about_me_section .text {
    margin-bottom: 30px;
}

.about_me_section .text h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.about_me_section .text p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
    text-indent: 40px;
}

/* SECTION4: CONTACT */
.contact_section {
    padding: 0 50px;
    margin-bottom: 100px;
    min-height: 85vh;
    padding-top: 100px;
}

.contact_section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.contact_section p {
    margin-bottom: 30px;
    text-align: center;
    /* padding: 0 305px; */
}

.contact_section .google-form {
    display: flex;
    justify-content: center;

}

@media (min-width: 1500px) {
    nav {

        padding: 0 100px;
    }

    nav .left a {
        color: var(--text-color);
        font-size: 30px;
        font-weight: 600;
    }

    nav .right a {
        color: var(--text-color);
        margin: 0 10px;
        font-size: 20px;
    }

    .hero_section {
        padding: 0 500px;
        /* margin-bottom: 200px; */
    }

    .hero_section .text {
        font-size: 20px;
    }

    .hero_section .text h2 {
        font-size: 45px;
    }

    .hero_section .text .links a {
        font-size: 20px;
    }

    .skills_section {
        padding: 0 500px;
        padding-top: 100px;
    }

    .skills_section .table_skills {
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
    }

    .skills_section h2 {
        font-size: 45px;
        padding-bottom: 20px;
    }

    .skills_section .table_skills h2 {
        display: flex;
        font-size: 30px;
        justify-content: left;
    }

    .skills_section .table_skills ul {
        font-weight: 400;
        font-size: 25px;
        gap: 30px
    }

    .about_me_section h2 {
        font-size: 45px;
    }

    .about_me_section .text h3 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .about_me_section .text {
        font-size: 25px;
        padding: 0 500px;
    }

    .contact_section {
        padding: 0 500px;
        padding-top: 100px;
    }

    .contact_section h2 {
        font-size: 45px;
    }

    .contact_section p {
        font-size: 25px;
    }
}

@media (max-width: 1499px) {

    nav .left a {
        color: var(--text-color);
        font-size: 25px;
        font-weight: 600;
    }

    nav .right a {
        color: var(--text-color);
        margin: 0 10px;
        font-size: 16px;
    }

    .hero_section {
        padding: 0 50px;
    }

    .hero_section .text {
        font-size: 16px;
    }

    .hero_section .text h2 {
        font-size: 25px;
    }

    .hero_section .text .links a {
        font-size: 16px;
    }

    .skills_section {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .skills_section .table_skills {
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
        width: 100%;
    }

    .skills_section h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .skills_section .table_skills h2 {
        display: flex;
        font-size: 24px;
        justify-content: left;
    }

    .skills_section .table_skills ul {
        font-weight: 400;
        font-size: 20px;
        gap: 10px;
    }

    .about_me_section h2 {
        font-size: 30px;
    }

    .about_me_section .text h3 {
        font-size: 22px;
        padding-bottom: 5px;
    }

    .about_me_section .text {
        font-size: 18px;
    }

    .contact_section {
        padding-top: 100px;
    }

    .contact_section h2 {
        font-size: 30px;
    }

    .contact_section p {
        font-size: 18px;
        text-align: center;
    }
}

@media (max-device-width: 991px) {
    .hero_section .text h2 {
        font-size: 25px;
    }

    .hero_section .photo {
        align-items: center;
    }

    .skills_section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .skills_section .table_skills {
        align-items: stretch;
    }

    .skills_section h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .skills_section .table_skills h2 {
        display: flex;
        font-size: 21px;
        justify-content: left;
    }

    .skills_section .table_skills ul {
        font-weight: 400;
        font-size: 18px;
        gap: 10px
    }

    .about_me_section h2 {
        font-size: 30px;
    }

    .contact_section .form h2 {
        font-size: 30px;
    }

    .contact_section .form p {
        text-align: justify;
        padding: 0;
    }
}

@media (max-width: 800px) {
    .hero_section .text h2 {
        font-size: 25px;
    }

    .hero_section .photo {
        align-items: center;
    }
    .skills_section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .skills_section .table_skills {
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
    }

    .skills_section h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .skills_section .table_skills h2 {
        display: flex;
        font-size: 21px;
        justify-content: left;
    }

    .skills_section .table_skills ul {
        font-weight: 400;
        font-size: 16px;
        gap: 10px;
    }

    .about_me_section h2 {
        font-size: 30px;
    }

    .about_me_section .text {
        padding-left: 40px;
        padding-right: 40px;
    }

    .contact_section .form h2 {
        font-size: 30px;
    }

    .contact_section {
        margin: 0;
        padding: 0 20px;
    }

    .contact_section .form h2 {
        padding-top: 100px;
    }

    .contact_section .form p {
        /* align-items: center; */
        text-align: justify;
        margin-bottom: 30px;
    }
}

@media (max-width: 740px) {
    nav {
        padding: 0 15px;
    }

    nav .right a {
        color: var(--text-color);
        margin: 0 2px;
    }

    .hero_section {
        padding-top: 60px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .hero_section .photo {
        align-items: center;
    }

    .hero_section text {
        align-items: center;
    }

    .skills_section .table_skills {
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
    }

    .skills_section .table_skills h2 {
        display: flex;
        font-size: 22px;
        justify-content: center;
        margin-bottom: 0px;
    }

    .skills_section .table_skills ul {
        list-style-position: inside;
        padding: 0 20px;
        margin: 0px;
        font-weight: 400;
        font-size: 17px;
        gap: 10px
    }

    .about_me_section .text {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 600px) {

    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
        margin: 0 5px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 5px 5px;
    }

    nav .right a span {
        display: none;
    }

    nav .left a {
        font-size: 25px;
    }

    /* SECTION1: Hero */
    .hero_section {
        padding: 0 20px;
        padding-top: 40px;
    }

    .hero_section .text {
        padding: 0 20px;
    }

    .hero_section .text h2 {
        font-size: 25px;
    }

    .hero_section .photo {
        align-items: center;
    }

    .hero_section .photo img {
        max-width: 245px;
    }

    /* SECTION2: Skills */
    .skills_section {
        padding: 0;
        padding-top: 100px;
    }

    .skills_section .table_skills {
        grid-template-columns: 1fr;
        align-items: stretch;
    }

    .skills_section .table_skills h2 {
        display: flex;
        font-size: 22px;
        justify-content: center;
        margin-bottom: 0px;
    }

    .skills_section .table_skills ul {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact_section {
        padding: 0;
        min-height: 30vh;
    }

    .contact_section .form p {
        margin: 0;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .about_me_section {
        padding: 0 20px;
    }

    .about_me_section .text {
        padding: 0 6px;
    }
}